
/* Browser fixes*/
/*Chrome Autofill Fix - bcg/text color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #293241 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}

body{
    background:
    /*vyzkouset tohle pozadi animovat (pohyb)*/
            /*linear-gradient(23deg,  #98c1d9c7,  #202060c7, #62148aaa 140%),*/
            linear-gradient(195deg, #20206088 0%, #20206088 20%, #1b556e88 20%, #1b556e88 70%, #21668388 60%, #21668388 100% ),
            linear-gradient(145deg, #216683aa 0%, #216683aa 40%, #1b556eaa 40%, #216683aa 75%,#202060aa 75%, #202060aa 100% ),
            linear-gradient(-100deg, #23be6b 0%, #16c0a4 28%, #216683 28%, #216683 88%, #16165e 88%, #1a1a70 100%)
;

}




